
.item{
    padding: 0.2rem;
    border: 1px solid grey;
}

.avatar {
    max-height: 4rem;
    max-width: 4rem;
    border-radius: 10% 30%;
}

.pageIndex span{
    display: inline-block;
    padding: 0.5rem;
}

.selectedPage{
    font-weight: bolder;
}