.app-wrapper {
    margin: 1rem auto 0;
    display: grid;
    width: 70%;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0.5em;
}

.app-wrapper-content {
    grid-area: c;
    background-color: cornflowerblue;
}

.content{
    margin: 1em;
}


